.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

td:not([align]),
th:not([align]) {
	text-align: left;
}
/* End CSS Reset */

/* Basics */
.App {
	padding: 2rem;
}
h1 {
	font-size: 2.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
/* End Basics */

/* Image List */
.image-list {
	width: 100%;
	display: grid;
	gap: 1rem;
	grid-template-rows: repeat(3, minmax(1fr, auto));
	grid-template-columns: repeat(3, 1fr);
}

.image-list-item {
	background-color: bisque;
	height: minmax(50vh, auto);
	padding: 1rem;
}

.image-list-item > form > input {
	outline: 0;
	border: none;
	border-radius: 2px 0 0 2px;
}
.image-list-item > form > button {
	outline: 0;
	border: none;
	border-radius: 0 2px 2px 0;
}
